@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

* {
    box-sizing: border-box;
  }

  
:root {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #211a02, #876c12);
    --light-gray: rgba(255, 255, 255, 0.877);
    --lemonade: #fad65f;
}  



.navbar{
    background: rgba(0, 0, 0, 0.3);
}


.navbar li p {
    border: none;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    color:  var(--lemonade);
    font-size: 20px;
    font-weight: bold;
    font-family: var(--Rubik);
}

 i {
    color: var(--lemonade);
}

i:hover {
    color: whitesmoke;
}



